[Desktop Entry]
Name=Assistant
Comment=Start the Assistant Program
Exec=bash -c '/usr/bin/assistant'
Icon=utilities-terminal
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
Categories=Utility;Application;
